html, 
body {
	padding: 0;
	margin: 0;
	height: 100%
}

#board {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Arial';
	margin: 0;
	padding: 5.6em;
	color: white;
	font-size: 0.52vw;
	background-color: #03123a;
}

#header {
	text-transform: uppercase;
	font-size: 8em;
	font-weight: bold;
	float: left;
}

#header .middle {
	font-size: 0.75em;
}

.time {
	font-size: 1.1em;
}

.svetla {
	color: #98d4fa;
}

.cat {
	font-size: 8em;
	height: 2em;
	padding-bottom: .5em;
}

#cats {
	float: right;
	padding-right: 10.6em;
}

.pop {
	font-weight: bold;
	font-size: .5em;
	white-space: nowrap;
	margin-right: 5.6em;
}

#drink {
	font-size: 5em;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	float:right;
	margin-top: 0.6em;
}

.inverse {
	background-color: white;
	color: #03123a;
	padding: 0.2em;
}

.img {
	position: relative;
	float: left;
	padding-right: 0.8em;
	width: 1.1em;
	height: 100%;
	margin-right: 0.8em;
}

.img_zachod {
	background: url('https://interaktivni.rozhlas.cz/data/voda-counter/img/zachod.svg') no-repeat;
	background-size: contain;
}

.img_zalivka {
	background: url('https://interaktivni.rozhlas.cz/data/voda-counter/img/zalivka.svg') no-repeat;
	background-size: contain;
}

.img_bazen {
	background: url('https://interaktivni.rozhlas.cz/data/voda-counter/img/bazeny.svg') no-repeat;
	background-size: contain;
}

.img_potrubi {
	background: url('https://interaktivni.rozhlas.cz/data/voda-counter/img/potrubi.svg') no-repeat;
	background-size: contain;
}

.img_logo {
	background: url('https://interaktivni.rozhlas.cz/data/voda-counter/img/logo.svg') no-repeat;
	width: auto;
	height: 8em;
	margin-bottom: 5.6em;
}

